<div class="row">
  <div class="col-md-6">
    <h3>Día 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Bienvenida</td> </tr>
      <tr> <td>09:10</td>  <td>Control de versiones con Git - Lecciones 1-7 </td> </tr>
      <tr> <td>10:50</td>  <td>Pausa</td> </tr>
      <tr> <td>11:00</td>  <td>Control de versiones con Git - Lecciones 8-13 </td> </tr>
      <tr> <td>12:00</td>  <td>Cierre</td> </tr>
    </table>
  </div>
  <!--div class="col-md-6">
    <h3>Día 2</h3>
    <table class="table table-striped">

      <tr> <td>09:00</td>  <td>R para análisis científicos reproducible, parte 1</td> </tr>
      <tr> <td>10:30</td>  <td>Café</td> </tr>
      <tr> <td>12:00</td>  <td>Almuerzo</td> </tr>
      <tr> <td>13:00</td>  <td>R para análisis científicos reproducible, parte 2 </td> </tr>
      <tr> <td>14:30</td>  <td>Café</td> </tr>
      <tr> <td>16:00</td>  <td>Cierre</td> </tr>

    </table>
  </div--!>
</div>
